.app-nav {
  font-size: 14px;

  
  p {
    font-size: 14px;
    margin-bottom: 8px;
    margin-top: 20px;
  }

  .nav-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 10px;
    @media(min-width: 480px) {
      flex-direction: row;
    }
  }

  .link {
    border-radius: 20px;
    height: 32px;
    display: flex;
    align-items: center;
    padding: 4px 12px;
    &:hover {
      background: #f6f7f8;
      svg {
        fill: #000;
      }
      a {
        color: #000;
      }
    }
    &.selected {
      background: #f6f7f8;
      svg {
        fill: #0079d3;
      }
      a, span {
        color: #0079d3;
      }
    }
  }

  span {
    display: block;
  }

  svg {
    fill: #878A8C;
    width: 20px;
    height: 20px;
    margin-right: 8px;
  }

  a {
    text-decoration: none;
    color: #878A8C;
    margin-right: 10px;
  }
}



header {
  padding: 10px 18px;
  margin-bottom: 10px;
  div {
    display: flex;
  }
  svg:first-child {
    width: 36px;
    margin-right: 10px;
  }
  svg:last-child {
    width: 56px;
  }
}